{% extends 'base.html.twig' %}

{% block main %}

    <link rel="stylesheet" href="{{ asset('css/gallery.css') }}">
    <div id="breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="{{ path('shop_index') }}">Home</a></li>
                <li>Cart</li>
            </ul>
        </div>
        <!-- / container -->
    </div>
    <!-- / body -->

    <div id="body">
        <div class="container">
            <div id="content" class="full">
                <div class="cart-table">
                    {% if addressUser==null %}
                        <div id="alertMsg" style="text-align: center" class="alert alert-danger" role="alert">
                            <strong>In order to make a purchase, you need a delivery address, enter your delivery address
                                <a href="{{ path('address') }}" class="btn btn-outline-dark btn-sm">here!</a></strong>
                        </div>
                    {% endif %}
                    {% if cartsTotal.findByCartStatus|length >0 %}
                    <table>
                        <tr>
                            <th class="items">Items</th>
                            <th class="price">Price</th>
                            <th class="qnt">Quantity</th>
                            <th class="update"></th>
                            <th class="total">Total</th>
                            <th class="delete"></th>
                        </tr>
                        {% for cart in cartsTotal.findByCartStatus %}
                            <tr>
                                <td class="items">
                                    <div class="image cartImg">
                                        {% set img = cart.productId.image|split(',') %}
                                        <img src="{{ asset('uploads/products_image/'~img.0) }}" alt="">

                                    </div>
                                    <h3>
                                        <a href="{{ path('view_product',{'id':cart.productId.id}) }}">{{ cart.productId.title }}</a>
                                    </h3>
                                    <p>{{ cart.productId.description }}</p>
                                </td>
                                <td class="price">${{ cart.productId.price }}</td>
                                <form action="{{ path('edit_quantity') }}" method="post">
                                    <input type="hidden" name="cart[id]" value="{{ cart.id }}">
                                    <input type="hidden" name="cart[userId]" value="{{ cart.userId.id }}">
                                    <input type="hidden" name="cart[productId]" value="{{ cart.productId.id }}">
                                    <td class="qnt">
                                        <input type="number" name="cart[quantity]" value="{{ cart.quantity }}"
                                               class="form-control">
                                    </td>
                                    <td class="update">
                                        <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-refresh"
                                                                                                aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </form>
                                <td class="total">${{ cart.totalSum }}</td>
                                <form action="{{ path('delete_cart') }}" method="post">
                                    <input type="hidden" name="cart[id]" value="{{ cart.id }}">
                                    <input type="hidden" name="cart[userId]" value="{{ cart.userId.id }}">
                                    <input type="hidden" name="cart[productId]" value="{{ cart.productId.id }}">
                                    <td class="delete">
                                        <button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"
                                                                                         aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </form>
                            </tr>
                            {{ form_row(form._token) }}
                            </form>
                        {% endfor %}
                    </table>
                </div>
                <div class="total-count">
                    <form action="{{ path('confirm_cart') }}">
                        <h3>Total to pay: <strong>
                                {% set totalSum = 0 %}
                                {% for total in cartsTotal.findByCartStatus %}
                                    {% set  totalSum = totalSum+total.totalSum %}
                                {% endfor %}
                                {{ totalSum|number_format(2, '.', ',') }}
                            </strong></h3>
                        <button type="submit" class="btn btn-success">Confirm the order</button>
                    </form>
                </div>
                {% else %}
                    <div class="col-12 total-count" style="height: 250px;text-align: center">
                        <h2><strong>Your basket is empty!!!</strong></h2>
                    </div>

                {% endif %}
            </div>
            <!-- / content -->
        </div>
        <!-- / container -->
    </div>
    <!-- / body -->
    <script src="{{ asset('js/plugins.js') }}"></script>
{% endblock %}

