{% extends 'base.html.twig' %}
{% block main %}
    {% include 'users/usrsnav.html.twig' %}
    <div id="breadcrumbs">
        <div class="container">
            <h2>Edit profile</h2>
        </div>
        <!-- / container -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8"><br><br>
                {% if errors|length >0 %}
                    {% for error in errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form enctype="multipart/form-data" action="{{ path('edit_profile') }}"  class="form-horizontal" name="register" method="post">
                    <div class="form-group">
                        <label for="email">Full Name</label>
                        <input type="text" name="user[fullName]" value="{{ user.fullName }}" class="form-control capt"/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="user[email]" value="{{ user.email }}" class="form-control"/>
                    </div>
                    <div onclick="ShowAndHide()"  class="btn btn-info btn-sm">Change Password</div>
                    <div id="passFormShow" style="display: none;">
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" name="user[password][first]" autocomplete="off"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm Password:</label>
                            <input type="password" name="user[password][second]" autocomplete="off"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="file" name="user[image]" class="form-control"/>
                        {% if user.image =="" %}
                            <img  style="width: 150px;margin: 10px 0px;"  src="{{ asset('uploads/user_image/no_image.png') }}" class="rounded-circle"  alt="">
                        {% else %}
                            <img style="width: 150px;margin: 10px 0px;" src="{{ asset('uploads/user_image/'~ user.image) }}" class="rounded-circle" alt="Cinque Terre">

                        {% endif %}
                    </div>
                     {{ form_row(form._token) }}
                    <div class="form-group">
                        <button type="submit" class="btn-grey">Edit</button>
                    </div>
                </form>
            </div>
            <script>
                function ShowAndHide() {
                    var x = document.getElementById('passFormShow');
                    if (x.style.display == 'none') {
                        x.style.display = 'block';
                    } else {
                        x.style.display = 'none';
                    }
                }
            </script>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}

