<div id="breadcrumbs">
    <div class="container">
        <div class="box-text-aligns">
            <h3 class="capt">Welcome, {{user.fullName }}</h3>
            {% if app.getUser().isUser() %}
                <span>Customer</span>
            {% elseif app.getUser().isSales() %}
                <span>Sales Manager</span>
            {% elseif app.getUser().isAdmin() %}
                <span>Administrator</span>
            {% endif %}
        </div>

    </div>

    <!-- / container -->
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Links -->
                <ul class="navbar-nav">
                    <li ><a href="{{ path('user_office') }}" class="nav-link" >Dashboard</a></li>
                    <!--Admin -->
                    {% if app.getUser().isSales or app.getUser().isAdmin() %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Catalog
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('all_products') }}">Products</a>
                                <a class="dropdown-item" href="{{ path('all_categories') }}">Categories</a>
                                <a class="dropdown-item" href="{{ path('all_metals') }}">Metal Type</a>
                            </div>
                        </li>
                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Sales
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Orders</a>
                                <a class="dropdown-item" href="#">Gift Vouchers</a>
                            </div>
                        </li>
                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Customers
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('all_customers') }}">Customers</a>
                                <a class="dropdown-item" href="{{ path('all_users') }}">All users</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                My Account
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('edit_profile') }}">Edit profile</a>
                            </div>
                        </li>
                        <!--End Admin -->
                    {% else %}
                        <!-- Customer Menu -->
                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                My Account
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('edit_profile') }}">Edit profile</a>
                                <a class="dropdown-item" href="{{ path('address') }}">Modify your address</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                My Orders
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">View order history</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>