<!DOCTYPE html>
<html class="ie8 oldie" lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ titlePage }} | Diana’s jewelry{% endblock %}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {# {% block stylesheets %} #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

    {# {% endblock %} #}
    <!--[if lt IE 9]>
    <![endif]-->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"
 type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="{{ asset('js/cart/main.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="{{ asset('js/datepicker/bootstrap-datetimepicker.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('js/cart/style.css') }}">
    <link rel="stylesheet" href="{{ asset('js/datepicker/bootstrap-datetimepicker.css') }}">

    <script>
        $('document').ready(function(){
            $('#error-message').modal('show');
        });
    </script>
    <script>
        setTimeout(function (){
          $('#error-message').modal('hide');
        }, 5000);
    </script>
</head>
<body>
{% block header %}
    <header id="header">
        <div class="container">
            <!-- Modal HTML -->
            {% for msg in app.session.flashBag.get('info') %}
                <div id="error-message" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center">
                                <div class="icon-box">
                                    <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <h4>Ooops!</h4>
                                <p><b>{{ msg }}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for msg in app.session.flashBag.get('successfully') %}
                <div id="error-message" class="modal fade">
                    <div class="modal-dialog modal-confirm">
                        <div class="modal-content">
                            <div class="modal-header justify-content-center" style="background-color: white;">
                                <div class="icon-box"  style="border: 5px solid green">
                                    <i style="color: green" class="fa fa-check" aria-hidden="true"></i>

                                </div>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">
                                    &times;
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <h5>{{ msg }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <a href="{{ path('shop_index') }}" id="logo" title="Diana’s jewelry">Diana’s jewelry</a>

            <article class="right-links">
                <ul>
                    <li>
                        <form action="{{ path('search_product') }}" method="post">
                            <div class="form-search-top">
                                <input type="text" class="searches-f" hname="product[title]">
                                <button class="btn-form-search">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </li>
                    {% if app.user.isAdmin() == false %}
                        <li id="cd-cart-trigger">
                                <span class="qk">
                            {% if app.user and(cartsTotal.findByCartStatus()|length>0) %}
                                {{ cartsTotal.findByCartStatus()|length }}
                            {% else %}
                                0
                            {% endif %}
                            </span>
                            <a class="cd-img-replace" href="#0">
                                <i class="fa fa-shopping-cart" style="font-weight: bold;font-size: 22px"></i></a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li><a href="{{ path('edit_profile') }}">
                            <span class="imgProfile">
                                {% if user.image =="" %}
                                    <img src="{{ asset('uploads/user_image/no_image.png') }}" alt="">
                                {% else %}
                                    <img src="{{ asset('uploads/user_image/'~ user.image) }}" alt="">
                                {% endif %}
                            </span>My account</a>
                        </li>
                        <li><a href="{{ path('security_logout') }}"><span class="ico-signout"></span>Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('security_login') }}"><span class="ico-account"></span>Login</a></li>
                        <li><a href="{{ path('user_register') }}"><span class="ico-signout"></span>registration</a></li>
                    {% endif %}
                </ul>
            </article>
        </div>
        <!-- / container -->
    </header>
    <!-- / header -->
    <div id="cd-shadow-layer"></div>
    <div id="cd-cart">
        <h2>Cart</h2>
        <ul class="cd-cart-items">
            {% if app.user %}
                {% if cartsTotal.findByCartStatus()|length >0%}
                <li><h3>item's ( {{ cartsTotal.findByCartStatus()|length}} )</h3></li>
                {% set totalSum = 0 %}
                {% for total in  cartsTotal.findByCartStatus() %}
                        <li>
                            {% set img = total.productId.image|split(',') %}
                            <span class="imgCart">
                      <img  src="{{ asset('uploads/products_image/'~img.1) }}" alt="">
                    </span>
                            <span class="cd-qty">{{ total.quantity }}   x ${{ total.productId.price }}</span>
                            <span class="cd-price">{{ total.productId.title }}</span>
                            <span class="cd-qty" style="float: right;margin: -20px 0px">
                                <form action="{{ path('delete_cart') }}" method="post">
                                <input type="hidden" name="cart[id]" value="{{ total.id }}">
                                <input type="hidden" name="cart[userId]" value="{{ total.userId.id }}">
                                <input type="hidden" name="cart[productId]" value="{{ total.productId.id }}">
                            <button class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </form></span>

                        </li>
                    {% set totalSum = totalSum + total.totalSum %}
                {% endfor %}
                <li class="cd-cart-total" style="font-weight: bold">
                    <b>Total <span> ${{ totalSum|number_format(2, '.', ',')}}</span></b>
                </li> <!-- cd-cart-total -->
                {% else %}
                    <li><strong>Your basket is empty!</strong></li>
                {% endif %}
                <a href="{{ path('edit_cart') }}" class="checkout-btn">Checkout</a>
            {% else %}
                <li><strong>Your basket is empty!</strong></li>
            {% endif %}
        </ul> <!-- cd-cart-items -->
    </div> <!-- cd-cart -->
    <nav id="menu">
        <div class="container">
            <div class="trigger"></div>
{#            {{ render(controler('AppBundle:')) }}#}
            <ul>
                <li><a href="{{ path('shop_index') }}">Home</a></li>
                {% for category in categories.allCategory if categories.allCategory|length>0 %}
                    <li><a href="{{ path('views_product_category',{'id':category.id}) }}">{{ category.title }}</a></li>
                {% endfor %}
                <li><a href="{{ path('new_promotion') }}">Promotions</a></li>
            </ul>
        </div>
        <!-- / container -->
    </nav>
    <!-- / navigation -->

{% endblock %}
{% block body %}
    {% block main %}

    {% endblock %}
{% endblock %}
{% block footer %}
    <footer id="footer">
        <div class="container" style="text-align: center;">
            <p class="copy">Copyright {{ 'now' | date('Y') }} Jewelry. All rights reserved.</p>
        </div>
        <!-- / container -->
    </footer>

    <!-- / footer -->
{% endblock %}
</body>
</html>
