{% extends 'base.html.twig' %}
{% block main %}
    {% include 'users/usrsnav.html.twig' %}
    <div id="breadcrumbs">
        <div class="container">
            <h2>Metals</h2>
        </div>
        <!-- / container -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12"><br>
                <div class="addBtn">
                    <a href="{{ path('add_metal') }}" class="btn btn-primary btn-sm">Add metal</a>
                </div>
                {% for msg in app.session.flashBag.get('info') %}
                    <div id="alertMsg" class="alert alert-success" role="alert">
                        <b>{{ msg }}</b>
                    </div>
                {% endfor %}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID#</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Create Date</th>
                        <th>Edit / Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if metals|length > 0 %}
                    {% for metal in metals %}
                        <tr>
                            <td>{{ metal.id }}</td>
                            <td>{{ metal.title }}</td>
                            <td>{{ metal.author.fullName }}</td>
                            <td>{{ metal.dateAdded|date("m/d/Y H:m:s", "Europe/Sofia") }}</td>
                            <td>
                                {% if user.authorMetal(metal) or user.isAdmin %}
                                    <a href="{{ path('edit_metal',{'id':metal.id}) }}" class="btn btn-info btn-sm">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                                    </a>&nbsp;&nbsp;<a href="{{ path('delete_metal',{'id':metal.id}) }}" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
            {% else %}
                <div class="alert alert-danger alert-dismissible text-align">
                    <strong>You have no metals added!</strong>
                </div>
                {% endif %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}