{% extends 'base.html.twig' %}
{% block main %}
    <div class="pagesMy">
        <div class="container">
            <div class="row">
                <div class="col-12 center">
                    <h2>{{ titlePage}} / Collection</h2>
                </div>
            </div>
        </div>
        <!-- / container -->
    </div>
    <div id="body">
        <div class="container">
            <div class="">
                <h4>{{ titlePage}}</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {% for msg in app.session.flashBag.get('info') %}
                                <div id="alertMsg" class="alert alert-success" role="alert">
                                    <b>{{ msg }}</b>
                                </div>
                            {% endfor %}
                        </div>
                        {% if collections|length > 0 %}
                            {% for collection in collections %}
                                <div class="col-4">
                                    <div class="last-products padding">
                                        <form>
                                            {% if collection.status ==1 %}
                                                <span class="pecents">  - {{ collection.discount}} %</span>
                                            {% endif %}
                                            {% set img = collection.image|split(',') %}
                                            <div class="blk">
                                                <img  src="{{ asset('uploads/products_image/'~img.1)}}" alt="" class="img-thumbnail">
                                            </div>
                                            <h3 style="text-transform: uppercase;font-size: 16px;">{{ collection.title }}</h3>
                                            {% if collection.status ==1 %}
                                                <div class="oldP">{{ collection.oldPrice }} $</div>
                                                <h4> {{ collection.price }} $</h4>
                                            {% else %}
                                                <h4> {{ collection.price }} $</h4>
                                            {% endif %}
                                            {% if collection.validateDate(collection.discountStart,collection.discountEnd,collection.discount) %}
                                            <div class="timerByViews"><span class="timer_{{ collection.id }} "></span>
                                         <script>
                                    var countDownDate_{{ collection.id }} = new Date("{{ collection.formatDate(collection.discountEnd) }}").getTime();
                                    var timeClear_{{ collection.id }} = setInterval(function() {
                                        var now_{{ collection.id }} = new Date().getTime();
                                        var timeLeft_{{ collection.id }} = countDownDate_{{ collection.id }} - now_{{ collection.id }};
                                        var days_{{ collection.id }} = Math.floor(timeLeft_{{ collection.id }} / (1000 * 60 * 60 * 24));
                                        var hours_{{ collection.id }} = Math.floor(
                                            (timeLeft_{{ collection.id }} % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
                                        );
                                        var minutes_{{ collection.id }} = Math.floor((timeLeft_{{ collection.id }} % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds_{{ collection.id }} = Math.floor((timeLeft_{{ collection.id }} % (1000 * 60)) / 1000);
                                        document.querySelector(".timer_{{ collection.id }}").innerHTML = days_{{ collection.id }} + "d " + hours_{{ collection.id }} + "h " + minutes_{{ collection.id }} + "m " + seconds_{{ collection.id }} + "s ";
                                        if (timeLeft_{{ collection.id }} < 0) {
                                            clearInterval(timeClear_{{ collection.id }});
                                            document.querySelector(".timer_{{ collection.id }}").innerHTML = "{{ collection.title }} Finished";
                                        }
                                    }, 1000);
                                </script></div>
                                            {%endif %}
                                            <div class="btnAdd">
                                                <button class="btn-grey"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add to cart</button>
                                                <a href="{{ path('view_product',{'id':collection.id}) }}" class="btn-grey">View</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                            {% else %}
                            <div class="col-12">
                                <div id="alertMsg" class="alert alert-success">There are no products in this category</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- / container -->
    </div>
{% endblock %}

