{% extends 'base.html.twig' %}
{% block main %}
    <div class="pagesMy">
        <div class="container">
            <div class="row">
                <div class="col-12 center">
                    <h2>New Collection</h2>
                </div>
            </div>
        </div>
        <!-- / container -->
    </div>
    <div id="body">
                <div class="container">
                    <div class="row">
                        <div class="col-12"><h2>Promotion</h2></div>
                        {% if collections|length > 0 %}
                            {% for collection in collections %}
                                <div class="col-md-4 col-sm-6 col-xs-12 row-flex">
                                    <div class="last-products padding">
                                        <form action="{{ path('add_cart', {'id': collection.id}) }}" method="post">
                                            <input type="hidden" name="cart[productId]" value="{{ collection.id }}">
                                            {% if collection.status == 1 and(collection.discount >0) %}
                                                <span class="pecents">  - {{ collection.discount}} %</span>
                                            {% endif %}
                                            {% set img = collection.image|split(',') %}
                                        <div class="blk">
                                            <img  src="{{ asset('uploads/products_image/'~img.1)}}" alt="" class="img-thumbnail">
                                        </div>
                                        <h3 style="text-transform: uppercase;font-size: 16px;">{{ collection.title }}</h3>
                                            {% if collection.status ==1 and(collection.discount >0) %}
                                                <div class="oldP">{{ collection.oldPrice }} $</div>
                                                <h4> {{ collection.price }} $</h4>
                                            {% else %}
                                                <h4> {{ collection.price }} $</h4>
                                            {% endif %}
                                            {% if collection.validateDate(collection.discountStart,collection.discountEnd,collection.discount) %}
                                                <div class="timerByViews"><span class="timer_{{ collection.id }} "></span>
                                         <script>
                                    var countDownDate_{{ collection.id }} = new Date("{{ collection.formatDate(collection.discountEnd) }}").getTime();
                                    var timeClear_{{ collection.id }} = setInterval(function() {
                                        var now_{{ collection.id }} = new Date().getTime();
                                        var timeLeft_{{ collection.id }} = countDownDate_{{ collection.id }} - now_{{ collection.id }};
                                        var days_{{ collection.id }} = Math.floor(timeLeft_{{ collection.id }} / (1000 * 60 * 60 * 24));
                                        var hours_{{ collection.id }} = Math.floor(
                                            (timeLeft_{{ collection.id }} % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
                                        );
                                        var minutes_{{ collection.id }} = Math.floor((timeLeft_{{ collection.id }} % (1000 * 60 * 60)) / (1000 * 60));
                                        var seconds_{{ collection.id }} = Math.floor((timeLeft_{{ collection.id }} % (1000 * 60)) / 1000);
                                        document.querySelector(".timer_{{ collection.id }}").innerHTML = days_{{ collection.id }} + "d " + hours_{{ collection.id }} + "h " + minutes_{{ collection.id }} + "m " + seconds_{{ collection.id }} + "s ";
                                        if (timeLeft_{{ collection.id }} < 0) {
                                            clearInterval(timeClear_{{ collection.id }});
                                            document.querySelector(".timer_{{ collection.id }}").innerHTML = "{{ collection.title }} Finished";
                                        }
                                    }, 1000);
                                </script></div>
                                            {%endif %}
                                            {% if collection.discount >0 %}
                                                <span class="pecents">  - {{ collection.discount}} %</span>
                                            {% endif %}
                                        <div class="btnAdd">
                                            <button class="btn btn-success btn-sm">Add to cart</button>
                                            <a href="{{ path('view_product',{'id':collection.id}) }}" class="btn btn-outline-dark btn-sm">View</a>
                                        </div>
                                            <div class="col-12 row-flex"><input style="text-align: center;font-weight: bold"
                                                                       type="number" class="form-control"
                                                                       name="cart[quantity]" value="1"></div>
                                </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12 pagination">
                            {{ knp_pagination_render(collections) }}
                        </div>
                    </div>
                </div>
        <!-- / container -->
    </div>
{% endblock %}