{% extends 'base.html.twig' %}
{% block main %}
    <div class="pagesMy">
        <div class="container">
            <div class="row">
                <div class="col-12 center">
                    <h2>{{ titlePage}} / Collection</h2>
                </div>
            </div>
        </div>
        <!-- / container -->
    </div>
    <div id="body">
        <div class="container">
            <div class="">
                <h4>{{ titlePage}}</h4>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {% for msg in app.session.flashBag.get('info') %}
                                <div id="alertMsg" class="alert alert-success" role="alert">
                                    <b>{{ msg }}</b>
                                </div>
                            {% endfor %}
                        </div>
                        {% if collections|length > 0 %}
                            {% for collection in collections %}
                                <div class="col-4">
                                    <div class="last-products padding">
                                        <form action="{{ path('add_cart', {'id': collection.id}) }}" method="post">
                                            <input type="hidden" name="cart[productId]" value="{{ collection.id }}">
                                            {% if collection.status == 1 and(collection.discount >0)%}
                                                <span class="pecents">  - {{ collection.discount}} %</span>
                                            {% endif %}
                                            {% set img = collection.image|split(',') %}
                                            <div class="blk">
                                                <img  src="{{ asset('uploads/products_image/'~img.1)}}" alt="" class="img-thumbnail">
                                            </div>
                                            <h3 style="text-transform: uppercase;font-size: 16px;">{{ collection.title }}</h3>
                                            {% if collection.status ==1 and(collection.discount >0) %}
                                                <div class="oldP">{{ collection.oldPrice }} $</div>
                                                <h4> {{ collection.price }} $</h4>
                                            {% else %}
                                                <h4> {{ collection.price }} $</h4>
                                            {% endif %}
                                            <div class="text-align">
                                                    {% if  collection.discount != null and collection.status ==1 %}
                                                        {{ collection.timerProduct(collection.id,collection.discountEnd) }}
                                                    {% endif %}
                                            </div>
                                            <div class="btnAdd">
                                                <button class="btn btn-success btn-sm"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add to cart</button>
                                                <a href="{{ path('view_product',{'id':collection.id}) }}" class="btn btn-outline-dark btn-sm">View</a>
                                            </div>
                                            <div class="col-12"><input style="text-align: center;font-weight: bold"
                                                                       type="number" class="form-control"
                                                                       name="cart[quantity]" value="1"></div>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-12" style="height: 250px;text-align: center">
                                <div id="alertMsg-" class="alert alert-success">There are no products in this category</div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12 pagination">
                            {{ knp_pagination_render(collections) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / container -->
    </div>
{% endblock %}

